.custom-submit {
    width: 100%;
}

.custom-submit__field {
    font-size: 24px;
    line-height: 36px;
    background-color: #282829;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 32px;
    cursor: pointer;
}

.custom-submit__field:hover {
    background-color: #7a7a7a;
}

@media(max-width: 767px) {
    .custom-submit__field {
        font-size: 16px;
        line-height: 18px;
        padding: 12px;
    }
}