.secondary-nav {
    border-top: 2px #D5C9BE solid;
    border-bottom: 2px #D5C9BE solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 100px 0 0;
}

.secondary-nav__list {
    display: flex;
    gap: 60px;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondary-nav__link {
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    transition: color ease 0.3s;
}

.secondary-nav__link:hover {
    color: #cbcbcb;
}

@media(max-width: 767px) {
    .secondary-nav {
        display: none;
    }
}